{% extends 'admindb_template/base_template.html' %}
{% block page_title %}
Edit Medical History
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Medical History{{ room.room_id }}</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_medical_history_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Medical No</label>
                    <input type="hidden" class="form-control" placeholder="Medical No" name="mno" value="{{ medicalhistory.mno }}">
                  </div>
                  <div class="form-group">
                    <label>Child ID</label>
                    <input type="text" class="form-control" placeholder="Child ID" name="cid" value="{{ medicalhistory.cid }}">
                  </div>
                  <div class="form-group">
                    <label>Date of Checkup</label>
                    <input type="text" class="form-control" placeholder="Date of Checkup" name="datech" value="{{ medicalhistory.datech }}">
                  </div>
                  <div class="form-group">
                    <label>Mtype</label>
                    <input type="text" class="form-control" placeholder="Mtype" name="mtype" value="{{ medicalhistory.mtype }}">
                  </div>
                  <div class="form-group">
                    <label>Rlink</label>
                    <input type="text" class="form-control" placeholder="Rlink" name="rlink" value="{{ medicalhistory.rlink }}">
                  </div>
                   
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Change Medical History Details</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

