{% extends 'admindb_template/base_template.html' %}
{% block page_title %}
Edit Room
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Room {{ room.room_id }}</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_room_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Room ID</label>
                    <input type="hidden" class="form-control" placeholder="Room ID" name="room_id" value="{{ room.room_id }}">
                  </div>
                  <div class="form-group">
                    <label>Floor</label>
                    <input type="text" class="form-control" placeholder="Floor" name="floor" value="{{ room.floor }}">
                  </div>
                   <div class="form-group">
                    <label>Maximum Occupancy</label>
                    <input type="text" class="form-control" placeholder="Maximum Occupancy" name="max_occupancy", value="{{ room.max_occupancy }}">
                  </div>
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Change Room Details</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

