{% extends 'admindb_template/base_template.html' %}
{% block page_title %}
Manage MedicalHistory
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Medical History</h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Medical No</th>
                      <th>Child ID</th>
                      <th>Date of Checkup</th>
                      <th>Mtype</th>
                      <th>Rlink</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for medicalhistory in medicalhistory %}
                    <tr>
                      <td>{{ medicalhistory.mno }}</td>
                      <td>{{ medicalhistory.cid }}</td>
                      <td>{{ medicalhistory.datech }}</td>
                      <td>{{ medicalhistory.mtype }}</td>
                      <td>{{ medicalhistory.rlink }}</td>
                      <td><a href="/edit_medical_history/{{ medicalhistory.mno }}" class="btn btn-success">Edit</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

